@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Instrument Sans", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

/***********************/
/*------- Header -------/
/***********************/

header {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #eee; */
  padding: 0 2.5rem;

  position: fixed;
  left: 0;
  top: 0;
  right: 0;

  z-index: 100;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(245, 206, 142, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
  text-decoration: none;
  cursor: pointer;

  font-size: 1.3rem;
  font-weight: 500;
}

.logo:hover {
  color: #444;
  font-weight: 600;
}

.navbar {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  text-decoration: none;
  cursor: pointer;

  transition: all 0.3s;
  color: #eee;
  font-size: 1.5rem;
}

.navbar-link:hover,
.navbar-link:active {
  color: #bbb;
}

@media (max-width: 1280px) {
  .navbar-link:link,
  .navbar-link:visited {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) {
  .navbar-link:link,
  .navbar-link:visited {
    font-size: 1rem;
  }
}
